---
import Layout from "../layouts/Layout.astro";

import AntonioyZoraida from "../img/AntonioyZoraida.webp";
import AlbertoFernandezdeSalamancaCastilla from "../img/AlbertoFernándezdeSalamancaCastilla.webp";
import AlbertoFernandezdeSalamancaSaenzdeVizmanos from "../img/AlbertoFernándezdeSalamancaSaenzdeVizmanos.webp";
import AlbertoFernandezdeSalamancaMontaner from "../img/AlbertoFernándezdeSalamancaMontaner.webp";
import CarlosFernandezdeSalamancaWarner from "../img/CarlosFernándezdeSalamancaWarner.webp";
import MarcosFernandezdeSalamancaLopez from "../img/MarcosFernándezdeSalamancaLópez.webp";
---

<Layout>
    <div class="w-full h-grow bg-gray-800 lg:col-span-6 xl:col-span-5">
        <div class="p-6">
            <h2 class="pt-4 pb-2 text-gray-100 font-bold text-2xl">
                LOS FERNÁNDEZ DE SALAMANCA
            </h2>
            <br />
            <p class="pb-2 text-gray-100 text-md">
                <b>Antonio María Fernández de Salamanca y San Román</b>, <a
                    href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                    target="_blank"
                    class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                >
                    VII conde de Fuente el Salce</a
                >.
            </p>
            <p class="pb-2 text-gray-100 text-md">
                Nacido el 1 de octubre de 1844 en Constantina y fallecido el 9
                de julio de 1908 en Madrid. Gentilhombre del interior de Alfonso
                XII y posteriormente de su hermana la infanta Isabel de Borbón.
                Caballero gran cruz de la Orden de Isabel la Católica. Hijo de <b
                    >María Manuela de Salamanca y Villarroel</b
                >
                (hija de Cayetano José de Salamanca y Quintanilla, y María Manuela
                de Villarroel y Lugo, ya mencionados en
                <a
                    class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                    href="/condes/">Condes de Fuente el Salce</a
                >) y <b>Antonio María Fernández y San Román</b> (hijo de Antonio
                Fernández y Melgarejo, y Carolina San Román y Carrera).
            </p>
            <p class="pb-2 text-gray-100 text-md">
                Para que
                no se perdiera el apellido de su familia materna, los Rodríguez de
                Salamanca, de quienes había heredado el título nobiliario que ostentaba,
                fundió sus dos apellidos (Fernández y Rodríguez de Salamanca) en
                uno nuevo compuesto (Fernández de Salamanca), añadiendo como segundo
                apellido el materno de su padre, con lo que pasó a llamarse <b
                >Antonio María Fernández de Salamanca y San Román</b
                >. Antonio se convirtió el fundador del apellido Fernández de
                Salamanca, único en todo el mundo y utilizado únicamente por sus
                descendientes.
            </p>
            <p class="pb-2 text-gray-100 text-md">
                Aunque por su empleo en la corte residió buena
                parte de su vida en Madrid, fue de hecho el último conde de
                Fuente el Salce vinculado a Constantina, donde siguió siendo
                propietario de la casa familiar y de numerosas fincas. No en
                vano, representó a los terratenientes del municipio en la
                asamblea que la Liga Nacional de Contribuyentes celebró en
                Madrid en 1882.
            </p>
            <br />
            <img
                src={AntonioyZoraida.src}
                alt="Fotografías de Antonio María Fernández de Salamanca y San Román y su esposa Zoraida Castilla y Gómez de Cádiz, pintura de Antonio Gisbert"
                title="Fotografías de Antonio María Fernández de Salamanca y San Román y su esposa Zoraida Castilla y Gómez de Cádiz, pintura de Antonio Gisbert"
            />
            <br />
            <p class="py-2 text-gray-100 text-md">
                Tuvo 2 hijos y 1 hija con <b
                    >Zoraida Castilla y Gómez de Cádiz</b
                > (fotografía de la mujer), nacida el 29 de noviembre de 1845 en
                Madrid y fallecida el 7 de julio de 1911 en Madrid, hija de Antonio
                Castilla y Cartas (hijo de Genaro Castilla y Muñoz, y Josefa Cartas)
                y Concepción Gómez de Cádiz y Cornejo (hija de Juan Gómez de Cádiz
                y Ramos, y Ana Cornejo y Guerrero).
            </p>
            <br />
            <details>
                <summary class="pb-2 text-gray-100 text-md cursor-pointer">
                    <b>Alberto Fernández de Salamanca y Castilla</b>, <a
                        href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                        target="_blank"
                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                    >
                        VIII conde de Fuente el Salce</a
                    >.
                </summary>
                <p class="pb-2 text-gray-100 text-md">
                    Nacido el 23 de diciembre de 1868 en Madrid y fallecido el 3
                    de mayo de 1943 en Santiago de Chile. Abogado. De joven
                    estudió en el Real Colegio de España de Bolonia y
                    posteriormente obtuvo plaza como jefe de administración
                    civil de segunda clase. Ocupó los cargos de delegado y de
                    secretario en los gobiernos civiles de distintas provincias,
                    hasta que le fue concedida excedencia como funcionario en
                    1930.
                </p>
                <img
                    class="object-contain h-48 md:h-80"
                    src={AlbertoFernandezdeSalamancaCastilla.src}
                    alt="Alberto Fernández de Salamanca y Castilla"
                    title="Alberto Fernández de Salamanca y Castilla"
                />
                <p class="py-2 text-gray-100 text-md">
                    Tuvo 1 hijo con <b
                        >María de los Ángeles Sáenz de Vizmanos y Mihura</b
                    >, nacida el 29 de enero de 1874 en Madrid y fallecida el 9
                    de agosto de 1960 en Madrid, hija de Juan Antonio Sáenz de
                    Vizmanos y Dayot (hijo de Manuel José Sáenz de Vizmanos y
                    Lara, y Josefa Quintina Dayot y Berzosa) y María de los
                    Ángeles Mihura y Casares (hija de Francisco de Paula Mihura
                    y Vidal, y María Aurora Eloísa Casares y Terry), prima
                    hermana de <a
                        href="https://es.wikipedia.org/wiki/Miguel_Mihura_%C3%81lvarez"
                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                        target="_blank"
                    >
                        Miguel Mihura y Álvarez</a
                    >, padre del escritor
                    <a
                        href="https://es.wikipedia.org/wiki/Miguel_Mihura"
                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                        target="_blank"
                    >
                        Miguel Mihura y Santos</a
                    >.
                </p>
                <details class="pl-8">
                    <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                        ><b
                            >Alberto Fernández de Salamanca y Sáenz de Vizmanos</b
                        >, <a
                            href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                            target="_blank"
                            class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                        >
                            IX conde de Fuente el Salce</a
                        >.</summary
                    >
                    <p class="pb-2 text-gray-100 text-md">
                        Nacido el 16 de junio de 1913 en Madrid y fallecido el
                        10 de mayo de 1994 en Madrid. Periodista. En los años 30
                        fue redactor político de El Debate. En 1947 era agregado
                        cultural de la embajada española en Chile, donde también
                        ejerció como corresponsal de la agencia EFE. Establecido
                        en Las Palmas de Gran Canaria, fue allí presidente a
                        nivel provincial del partido Acción Ciudadana Liberal
                        (ACL) y también delegado de Amnistía Internacional.
                    </p>
                    <img
                        class="object-contain h-48 md:h-80"
                        src={AlbertoFernandezdeSalamancaSaenzdeVizmanos.src}
                        alt="Alberto Fernández de Salamanca y Sáenz de Vizmanos"
                        title="Alberto Fernández de Salamanca y Sáenz de Vizmanos"
                    />
                    <p class="py-2 text-gray-100 text-md">
                        Tuvo 3 hijos y 2 hijas con <b
                            >Teresa Montaner y Sáenz de Vizmanos</b
                        >, nacida el 29 de febrero de 1904 en Palma de Mallorca
                        y fallecida el 17 de febrero de 1986 en Madrid, hija de
                        Jaime Montaner y Vega-Verdugo (hijo de Jaime Montaner y
                        Morey, y María del Pilar Vega-Verdugo y Cardón, hermana
                        de Manuel Vega-Verdugo y Cardón,
                        <a
                            href="https://es.wikipedia.org/wiki/Condado_de_Alba_Real_de_Tajo"
                            class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                            target="_blank"
                        >
                            VII Conde de Alba Real de Tajo</a
                        >) y María Aurora Sáenz de Vizmanos y Mihura (hija de
                        Juan Antonio Sáenz de Vizmanos y Dayot, y María de los
                        Ángeles Mihura y Casares), hermana de María de los
                        Ángeles Sáenz de Vizmanos y Mihura.
                    </p>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Alberto Fernández de Salamanca y Montaner</b>, <a
                                href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                                target="_blank"
                                class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                >X conde de Fuente el Salce</a
                            >.</summary
                        >
                        <p class="pb-2 text-gray-100 text-md">
                            Nacido el 14 de agosto de 1939 en Madrid y fallecido
                            el 30 de noviembre de 2009 en Madrid.
                        </p>
                        <img
                            class="object-contain h-48 md:h-80"
                            src={AlbertoFernandezdeSalamancaMontaner.src}
                            alt="Alberto Fernández de Salamanca y Montaner"
                            title="Alberto Fernández de Salamanca y Montaner"
                        />
                        <p class="pb-2 text-gray-100 text-md">
                            Tuvo 2 hijos con Penélope Warner y Recto, nacida el
                            28 de julio de 1949 en Manila (Filipinas) y
                            fallecida el 17 de enero de 2008 en Jerez de la
                            Frontera (Cádiz), hija de John Arthur Warner y
                            Curtis (hijo de Joseph Cuthbert Warner, y Evelyn
                            Snyder Curtis) y Maria Clara Recto y Silos (hija de <a
                                href="https://es.wikipedia.org/wiki/Claro_M._Recto"
                                target="_blank"
                                class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                >Claro María Recto y Mayo</a
                            >, senador de Filipinas, y Ángeles Silos y Jamora).
                        </p>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b>Alberto Fernández de Salamanca y Warner</b>, <a
                                    href="https://es.wikipedia.org/wiki/Condado_de_Fuente_el_Salce"
                                    target="_blank"
                                    class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                                    >XI conde de Fuente el Salce</a
                                >.</summary
                            >
                            <p class="pb-2 text-gray-100 text-md">
                                Nacido en 1968 en Madrid.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                Tuvo 1 hijo y 1 hija con Lorena Junghans y
                                Hernández.
                            </p>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b
                                        >Alberto Fernández de Salamanca y
                                        Junghans</b
                                    >.</summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacido en 2004 en Madrid.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                                <br />
                            </details>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b
                                        >Teresa Fernández de Salamanca y
                                        Junghans</b
                                    >.</summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida en 2006 en Madrid.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                            </details>
                            <br />
                        </details>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b
                                    >Carlos Francisco Fernández de Salamanca y
                                    Warner</b
                                >.</summary
                            >
                            <p class="pb-2 text-gray-100 text-md">
                                Nacido el 2 de abril de 1969 en Madrid.
                            </p>
                            <img
                                class="object-contain h-48 md:h-80"
                                src={CarlosFernandezdeSalamancaWarner.src}
                                alt="Carlos Fernández de Salamanca y Warner"
                                title="Carlos Fernández de Salamanca y Warner"
                            />
                            <p class="pb-2 text-gray-100 text-md">
                                Tuvo 2 hijos y 1 hija con Virginia López y Díaz,
                                nacida el 9 de febrero de 1973 en
                                Vitoria-Gasteiz, hija de Antonio López y Galán
                                (hijo de Andrés López y Barroso, y Rosalía Galán
                                y Rodríguez) y Esther Díaz y Mateo (hija de
                                Estanislao Díaz y Ochoa, y Prudencia Mateo y
                                Gil).
                            </p>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>Marcos Fernández de Salamanca y López</b
                                    >.</summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacido el 11 de julio de 2001 en Madrid.
                                    Autor de esta página.
                                </p>
                                <img
                                    class="object-contain h-48 md:h-80"
                                    src={MarcosFernandezdeSalamancaLopez.src}
                                    alt="Marcos Fernández de Salamanca y López"
                                    title="Marcos Fernández de Salamanca y López"
                                />
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                                <br />
                            </details>

                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>Carla Fernández de Salamanca y López</b
                                    >.</summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida el 17 de mayo de 2005 en Madrid.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                            </details>

                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>Jorge Fernández de Salamanca y López</b
                                    >.</summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacido el 3 de mayo de 2012 en Madrid.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                                <br />
                            </details>
                        </details>
                        <br />
                    </details>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Jaime Fernández de Salamanca y Montaner</b
                            >.</summary
                        >
                        <p class="pb-2 text-gray-100 text-md">
                            Fallecido en 1994 en Madrid.
                        </p>
                        <p class="pb-2 text-gray-100 text-md">
                            Sin descendencia aparente.
                        </p>
                        <br />
                    </details>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Carlos Fernández de Salamanca y Montaner</b
                            >.</summary
                        >
                        <p class="pb-2 text-gray-100 text-md">
                            Nacido en 1944 en Madrid y fallecido a causa de un
                            atropello el 11 de octubre de 1965 en Estrasburgo
                            (Francia).
                        </p>
                        <br />
                    </details>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b
                                >María Ángeles Fernández de Salamanca y Montaner</b
                            >.</summary
                        >
                        <p class="pb-2 text-gray-100 text-md">
                            Fallecida en 1988.
                        </p>
                        <p class="pb-2 text-gray-100 text-md">
                            Tuvo 3 hijas y 1 hijo con Víctor Suanzes y Pardo
                        </p>
                        <br />
                    </details>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Aurora Fernández de Salamanca y Montaner</b
                            >.</summary
                        >
                        <p class="pb-2 text-gray-100 text-md">
                            Fallecida en 2009.
                        </p>
                        <p class="pb-2 text-gray-100 text-md">
                            Tuvo 1 hija con José María Pérez-Tabernero.
                        </p>
                    </details>
                    <br />
                    <p class="pb-2 text-gray-100 text-md">
                        Tuvo 1 hijo con <b>María Isabel García y Navero</b>,
                        fallecida el 6 de marzo de 1996 en Madrid.
                    </p>
                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Juan Antonio Fernández de Salamanca y García</b
                            >.</summary
                        >
                        <p class="pb-2 text-gray-100 text-md">
                            Fallecido en 2014.
                        </p>
                        <p class="pb-2 text-gray-100 text-md">
                            Tuvo 2 hijos con Elizabeth ¿? y 1 hijo con Otiria
                            ¿?.
                        </p>
                    </details>
                </details>
                <br />

                <p class="pb-2 text-gray-100 text-md">
                    Tuvo también 2 hijas y 1 hijo con <b
                        >Eugenia Mistrali y Bagliarini</b
                    >, fallecida el 1 de febrero de 1933 en Madrid, hija de <a
                        href="https://it.wikipedia.org/wiki/Franco_Mistrali"
                        class="underline lg:hover:text-gray-300 transition ease-in-out duration-300"
                        target="_blank"
                    >
                        Francesco Corrado Mistrali</a
                    > (hijo de Giangiacomo Mistrali) y Teresa Eugenia Bagliarini.
                </p>

                <details class="pl-8">
                    <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                        ><b>Concepción Fernández de Salamanca y Mistrali</b
                        >.</summary
                    >

                    <p class="pb-2 text-gray-100 text-md">Fallecida.</p>
                    <p class="pb-2 text-gray-100 text-md">
                        Tuvo 1 hijo con <b>Adolfo Álvarez y Moro</b>, fallecido.
                    </p>

                    <details class="pl-8">
                        <summary
                            class="pb-2 text-gray-100 text-md cursor-pointer"
                            ><b>Antonio Álvarez y Fernández de Salamanca</b
                            >.</summary
                        >
                        <p class="pb-2 text-gray-100 text-md">
                            Nacido el 26 de enero de 1933.
                        </p>
                        <p class="pb-2 text-gray-100 text-md">
                            Tuvo 4 hijas y 1 hijo con <b
                                >María Isabel Farizo y Gutiérrez</b
                            >, nacida el 29 de mayo de 1938 en Palencia y
                            fallecida el 4 de mayo de 2020 en Madrid, hija de
                            Domingo Farizo y Crespo (hijo de José Farizo y
                            Seisdedos, e Isabel Crespo y Curis) y Estela
                            Gutiérrez y Vicario (hija de Esteban Gutiérrez y
                            Cardo, y María de las Mercedes Vicario y Alonso).
                        </p>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b>María Estela Álvarez y Farizo</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">
                                Nacida el 5 de marzo de 1962 en Madrid.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                Tuvo 2 hijas con <b>Juan Ruiz y Díaz</b>, nacido
                                el 17 de junio de 1955.
                            </p>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>Tamara Ruiz y Álvarez</b>.
                                </summary>
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida el 22 de Oct de 1984 en Madrid.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Tuvo 1 hijo y 1 hija con <b
                                        >Hugo Pérez y Ayala</b
                                    >, nacido el 20 de junio de 1979 en Madrid y
                                    fallecido en 2017.
                                </p>
                                <details class="pl-8">
                                    <summary
                                        class="pb-2 text-gray-100 text-md cursor-pointer"
                                        ><b>Nerea Pérez y Ruiz</b>.
                                    </summary>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Nacida el 14 de octubre de 2002 en
                                        Madrid.
                                    </p>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Sin descendencia aparente.
                                    </p>
                                    <br />
                                </details>
                                <details class="pl-8">
                                    <summary
                                        class="pb-2 text-gray-100 text-md cursor-pointer"
                                        ><b>Hugo Pérez y Ruiz</b>.
                                    </summary>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Nacida el 20 de enero de 2007 en Madrid.
                                    </p>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Sin descendencia aparente.
                                    </p>
                                </details>
                                <br />
                            </details>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>Patricia Ruiz y Álvarez</b>.
                                </summary>
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida el 14 de Nov de 1988 en Madrid.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Tuvo 1 hijo y 1 hija con <b
                                        >Iván Rodríguez y Gumiel</b
                                    >, nacido el 8 de octubre de 1989.
                                </p>
                                <details class="pl-8">
                                    <summary
                                        class="pb-2 text-gray-100 text-md cursor-pointer"
                                        ><b>Eva Rodríguez y Ruiz</b>.
                                    </summary>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Nacida el 27 de junio de 2017 en Madrid.
                                    </p>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Sin descendencia aparente.
                                    </p>
                                    <br />
                                </details>
                                <details class="pl-8">
                                    <summary
                                        class="pb-2 text-gray-100 text-md cursor-pointer"
                                        ><b>Raúl Rodríguez y Ruiz</b>.
                                    </summary>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Nacida el 29 de noviembre de 2019 en
                                        Madrid.
                                    </p>
                                    <p class="pb-2 text-gray-100 text-md">
                                        Sin descendencia aparente.
                                    </p>
                                </details>
                            </details>
                            <br />
                        </details>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b>Ana María Isabel Álvarez y Farizo</b
                                >.</summary
                            >
                            <p class="pb-2 text-gray-100 text-md">
                                Nacida el 23 de enero de 1964 en Madrid.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                Tuvo 1 hijo y 1 hija con <b
                                    >Rafael Sánchez y Toledano</b
                                >, nacido el 14 de enero de 1958 en Madrid.
                            </p>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>Borja Sánchez y Álvarez</b>.
                                </summary>
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida el 25 de septiembre de 1996 en
                                    Madrid.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                                <br />
                            </details>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b
                                        >Estela de las Nieves Sánchez y Álvarez</b
                                    >.</summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida el 5 de noviembre de 2001 en Madrid.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                            </details>
                            <br />
                        </details>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b>María Begoña Álvarez y Farizo</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">
                                Nacida el 21 de septiembre de 1965 en Madrid.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                Tuvo 2 hijas con <b
                                    >Víctor Sorribas y Alejaldre</b
                                >, nacido el 14 de febrero de 1963 en Zaragoza.
                            </p>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>Laura Sorribas y Álvarez</b>.
                                </summary>
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida el 20 de enero de 1997 en Zaragoza.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                                <br />
                            </details>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>Beatriz Victoria Sorribas y Álvarez</b
                                    >.</summary
                                >
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida el 19 de diciembre de 2003 en
                                    Zaragoza.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                            </details>
                            <br />
                        </details>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b>Eva María Álvarez y Farizo</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">
                                Nacida el 21 de junio de 1970 en Madrid.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                Tuvo 1 hija con <b>José Cabrera</b>, nacido en
                                Tenerife.
                            </p>
                            <details class="pl-8">
                                <summary
                                    class="pb-2 text-gray-100 text-md cursor-pointer"
                                    ><b>Alexia Cabrera y Álvarez</b>.
                                </summary>
                                <p class="pb-2 text-gray-100 text-md">
                                    Nacida el 29 de junio de 2003 en Tenerife.
                                </p>
                                <p class="pb-2 text-gray-100 text-md">
                                    Sin descendencia aparente.
                                </p>
                            </details>
                            <br />
                        </details>
                        <details class="pl-8">
                            <summary
                                class="pb-2 text-gray-100 text-md cursor-pointer"
                                ><b>Antonio Javier Álvarez y Farizo</b>.
                            </summary>
                            <p class="pb-2 text-gray-100 text-md">
                                Nacido el 20 de diciembre de 1967 en Madrid.
                            </p>
                            <p class="pb-2 text-gray-100 text-md">
                                Sin descendencia aparente.
                            </p>
                        </details>
                    </details>
                    <br />
                </details>
                <details class="pl-8">
                    <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                        ><b>Teresa Fernández de Salamanca y Mistrali</b>.
                    </summary>
                    <p class="pb-2 text-gray-100 text-md">Fallecida.</p>
                    <p class="pb-2 text-gray-100 text-md">
                        Sin descendencia aparente.
                    </p>
                    <br />
                </details>
                <details class="pl-8">
                    <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                        ><b>Antonio Fernández de Salamanca y Mistrali</b
                        >.</summary
                    >
                    <p class="pb-2 text-gray-100 text-md">
                        Fallecido el 20 de enero de 1926 en Madrid.
                    </p>
                    <p class="pb-2 text-gray-100 text-md">
                        Sin descendencia aparente.
                    </p>
                </details>
                <br />
            </details>
            <details>
                <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                    ><b>Carlos Fernández de Salamanca y Castilla</b>.
                </summary>
                <p class="pb-2 text-gray-100 text-md">
                    Fallecido el 23 de diciembre de 1908.
                </p>
                <p class="pb-2 text-gray-100 text-md">
                    Sin descendencia aparente.
                </p>
                <br />
            </details>
            <details>
                <summary class="pb-2 text-gray-100 text-md cursor-pointer"
                    ><b>María Fernández de Salamanca y Castilla</b>.
                </summary>
                <p class="pb-2 text-gray-100 text-md">
                    Nacida el 10 de junio de 1875 en Madrid y fallecida el 20 de
                    Marzo de 1968.
                </p>
                <p class="pb-2 text-gray-100 text-md">
                    Tuvo 2 hijas y un hijo con José Pérez-Seoane y Villalobos,
                    <u>II Conde de Gomar</u>, nacido el 28 de enero de 1872 y
                    fallecido el 3 de octubre de 1904 en Biarritz, Francia, hijo
                    de José Manuel Pérez-Seoane y Marín, <u>I Conde de Gomar</u>
                    (hijo de Manuel Pérez-Seoane y Rivero, y Josefa María Marín y
                    San Martín), y Ángela de Villalobos y Benavides
                </p>
                <br />
            </details>

            <p class="text-gray-300 text-xs py-6">
                Fuente: Investigación personal.
            </p>
        </div>
    </div>

    <style></style>
</Layout>
